<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Jakes Book Review</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>
            <h1>Jakes Book Review</h1>
            <nav>
                <ul>
                    <li><a href="/?sort=title">Title</a></li>
                    <li><a href="/?sort=newest">Newest</a></li>
                    <li><a href="/?sort=oldest">Oldest</a></li>
                    <li><a href="/?sort=best">Best</a></li>
                    <li><a href="/?sort=worst">Worst</a></li>
                </ul>
            </nav>
        </header>