<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Jakes Book Notes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>
            <h1>Jake's Book Notes</h1>
            <nav>
                <ul>
                    <li><a href="/?sort=title">Title</a></li>
                    <li><a href="/?sort=newest">Newest</a></li>
                    <li><a href="/?sort=oldest">Oldest</a></li>
                    <li><a href="/?sort=best">Best</a></li>
                    <li><a href="/?sort=worst">Worst</a></li>
                </ul>
            </nav>
        </header>