body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
    list-style: none;
}

header a {
    margin: 0px 5px;
    text-decoration: none;
}

main h2 {
    text-align: center;
}

main .container {
    display: flex;
    gap: 10px;
}

main .rating {
    display: inline-block;
    color: gray;
}

main .rating .star.filled {
    color: gold;
}

