body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: black;
    font-size: 24px;
}

body a {
    margin: 0px 5px;
    text-decoration: none;
    color: yellow;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
    list-style: none;
}

header a {
    margin: 0px 5px;
    text-decoration: none;
}

main h2 {
    text-align: center;
}

main .book-container {
    display: flex;
    gap: 10px;
    margin: 20% 0px;
}

main .rating {
    display: inline-block;
    color: gray;
}

main .rating .star.filled {
    color: gold;
}

@media (max-width: 900px) {
    body {
        font-size: 2.5vw;
    }
    main .book-container {
        flex-direction: column;
    }
    main img {
        width: 70vw;
        height: auto;
    }
}


@media (max-width: 480px) {
    body {
        font-size: 4vw;
    }
    main .book-container {
        flex-direction: column;
    }
    main img {
        width: 90vw;
        height: auto;
    }
}

