<%- include('../partials/header') %>
<main>
    <h2>Books</h2>
    <div class="container">
        <div style="background-color: black; width: 50px; height: 150px;"></div>
        <h3 class="title">Book Title</h3>
        <h4 class="author">Book Author</h4>
        <h4 class="rating">5/5</h4>
        <p class="review">Book review message, such a great book!! Book review message, such a great book!! Book review message, such a great book!! Book review message, such a great book!! Book review message, such a great book!! Book review message, such a great book!! Book review message, such a great book!! Book review message, such a great book!! Book review message, such a great book!! Book review message, such a great book!!</p>
    </div>
</main>
<%- include('../partials/footer') %>